NiIdea_Proyecto/NiIdea/RRHHServiceTest/Service References/RRHHServiceWS/RRHHService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/NiIdeaService.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NiIdeaService.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:46114/RRHHService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Responsable">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApeMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApePaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edad" type="xs:short" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" type="ser:char" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Responsable" nillable="true" type="tns:Responsable" />
  <xs:complexType name="ArrayOfResponsable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Responsable" nillable="true" type="tns:Responsable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResponsable" nillable="true" type="tns:ArrayOfResponsable" />
</xs:schema>