NiIdea_Proyecto/NiIdea/NiIdeaService/Service References/ProyectoWS/ProyectoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProyectoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:46114/ProyectoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:46114/ProyectoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:46114/ProyectoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NiIdeaService.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProyectoService_CreaProyecto_InputMessage">
    <wsdl:part name="parameters" element="tns:CreaProyecto" />
  </wsdl:message>
  <wsdl:message name="IProyectoService_CreaProyecto_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreaProyectoResponse" />
  </wsdl:message>
  <wsdl:message name="IProyectoService_ObtieneProyecto_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtieneProyecto" />
  </wsdl:message>
  <wsdl:message name="IProyectoService_ObtieneProyecto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtieneProyectoResponse" />
  </wsdl:message>
  <wsdl:message name="IProyectoService_ModificaProyecto_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificaProyecto" />
  </wsdl:message>
  <wsdl:message name="IProyectoService_ModificaProyecto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificaProyectoResponse" />
  </wsdl:message>
  <wsdl:message name="IProyectoService_EliminarProyecto_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarProyecto" />
  </wsdl:message>
  <wsdl:message name="IProyectoService_EliminarProyecto_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarProyectoResponse" />
  </wsdl:message>
  <wsdl:message name="IProyectoService_ListarProyecto_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarProyecto" />
  </wsdl:message>
  <wsdl:message name="IProyectoService_ListarProyecto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarProyectoResponse" />
  </wsdl:message>
  <wsdl:portType name="IProyectoService">
    <wsdl:operation name="CreaProyecto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProyectoService/CreaProyecto" message="tns:IProyectoService_CreaProyecto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProyectoService/CreaProyectoResponse" message="tns:IProyectoService_CreaProyecto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtieneProyecto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProyectoService/ObtieneProyecto" message="tns:IProyectoService_ObtieneProyecto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProyectoService/ObtieneProyectoResponse" message="tns:IProyectoService_ObtieneProyecto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificaProyecto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProyectoService/ModificaProyecto" message="tns:IProyectoService_ModificaProyecto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProyectoService/ModificaProyectoResponse" message="tns:IProyectoService_ModificaProyecto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarProyecto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProyectoService/EliminarProyecto" message="tns:IProyectoService_EliminarProyecto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProyectoService/EliminarProyectoResponse" message="tns:IProyectoService_EliminarProyecto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarProyecto">
      <wsdl:input wsaw:Action="http://tempuri.org/IProyectoService/ListarProyecto" message="tns:IProyectoService_ListarProyecto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProyectoService/ListarProyectoResponse" message="tns:IProyectoService_ListarProyecto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProyectoService" type="tns:IProyectoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreaProyecto">
      <soap:operation soapAction="http://tempuri.org/IProyectoService/CreaProyecto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtieneProyecto">
      <soap:operation soapAction="http://tempuri.org/IProyectoService/ObtieneProyecto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificaProyecto">
      <soap:operation soapAction="http://tempuri.org/IProyectoService/ModificaProyecto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarProyecto">
      <soap:operation soapAction="http://tempuri.org/IProyectoService/EliminarProyecto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarProyecto">
      <soap:operation soapAction="http://tempuri.org/IProyectoService/ListarProyecto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProyectoService">
    <wsdl:port name="BasicHttpBinding_IProyectoService" binding="tns:BasicHttpBinding_IProyectoService">
      <soap:address location="http://localhost:46114/ProyectoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>