NiIdea_Proyecto/NiIdea/NiIdeaService/Service References/ProyectoWS/ProyectoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NiIdeaService.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NiIdeaService.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Proyecto">
    <xs:sequence>
      <xs:element minOccurs="0" name="cierreProyecto" type="xs:boolean" />
      <xs:element minOccurs="0" name="codigo_c" type="xs:int" />
      <xs:element minOccurs="0" name="codigo_p" type="xs:int" />
      <xs:element minOccurs="0" name="detalleProyecto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="fecha_fin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_ini" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="observacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="responsable" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Proyecto" nillable="true" type="tns:Proyecto" />
  <xs:complexType name="ArrayOfProyecto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Proyecto" nillable="true" type="tns:Proyecto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProyecto" nillable="true" type="tns:ArrayOfProyecto" />
</xs:schema>