NiIdea_Proyecto/NiIdea/NiIdeaService/Service References/MonitoreoWS/MonitoreoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MonitoreoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:46114/MonitoreoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:46114/MonitoreoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:46114/MonitoreoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NiIdeaService.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMonitoreoService_CreaMonitoreo_InputMessage">
    <wsdl:part name="parameters" element="tns:CreaMonitoreo" />
  </wsdl:message>
  <wsdl:message name="IMonitoreoService_CreaMonitoreo_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreaMonitoreoResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitoreoService_ObtieneMonitoreo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtieneMonitoreo" />
  </wsdl:message>
  <wsdl:message name="IMonitoreoService_ObtieneMonitoreo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtieneMonitoreoResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitoreoService_ModificaMonitoreo_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificaMonitoreo" />
  </wsdl:message>
  <wsdl:message name="IMonitoreoService_ModificaMonitoreo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificaMonitoreoResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitoreoService_EliminarMonitoreo_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarMonitoreo" />
  </wsdl:message>
  <wsdl:message name="IMonitoreoService_EliminarMonitoreo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarMonitoreoResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitoreoService_ListarMonitoreo_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarMonitoreo" />
  </wsdl:message>
  <wsdl:message name="IMonitoreoService_ListarMonitoreo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarMonitoreoResponse" />
  </wsdl:message>
  <wsdl:portType name="IMonitoreoService">
    <wsdl:operation name="CreaMonitoreo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitoreoService/CreaMonitoreo" message="tns:IMonitoreoService_CreaMonitoreo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoreoService/CreaMonitoreoResponse" message="tns:IMonitoreoService_CreaMonitoreo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtieneMonitoreo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitoreoService/ObtieneMonitoreo" message="tns:IMonitoreoService_ObtieneMonitoreo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoreoService/ObtieneMonitoreoResponse" message="tns:IMonitoreoService_ObtieneMonitoreo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificaMonitoreo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitoreoService/ModificaMonitoreo" message="tns:IMonitoreoService_ModificaMonitoreo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoreoService/ModificaMonitoreoResponse" message="tns:IMonitoreoService_ModificaMonitoreo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarMonitoreo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitoreoService/EliminarMonitoreo" message="tns:IMonitoreoService_EliminarMonitoreo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoreoService/EliminarMonitoreoResponse" message="tns:IMonitoreoService_EliminarMonitoreo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarMonitoreo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitoreoService/ListarMonitoreo" message="tns:IMonitoreoService_ListarMonitoreo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitoreoService/ListarMonitoreoResponse" message="tns:IMonitoreoService_ListarMonitoreo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMonitoreoService" type="tns:IMonitoreoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreaMonitoreo">
      <soap:operation soapAction="http://tempuri.org/IMonitoreoService/CreaMonitoreo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtieneMonitoreo">
      <soap:operation soapAction="http://tempuri.org/IMonitoreoService/ObtieneMonitoreo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificaMonitoreo">
      <soap:operation soapAction="http://tempuri.org/IMonitoreoService/ModificaMonitoreo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarMonitoreo">
      <soap:operation soapAction="http://tempuri.org/IMonitoreoService/EliminarMonitoreo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarMonitoreo">
      <soap:operation soapAction="http://tempuri.org/IMonitoreoService/ListarMonitoreo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MonitoreoService">
    <wsdl:port name="BasicHttpBinding_IMonitoreoService" binding="tns:BasicHttpBinding_IMonitoreoService">
      <soap:address location="http://localhost:46114/MonitoreoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>