NiIdea_Proyecto/NiIdea/NiIdeaService/Service References/MonitoreoWS/MonitoreoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NiIdeaService.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NiIdeaService.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Monitoreo">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidad_co2" type="xs:int" />
      <xs:element minOccurs="0" name="cantidad_no2" type="xs:int" />
      <xs:element minOccurs="0" name="cantidad_so2" type="xs:int" />
      <xs:element minOccurs="0" name="codigo_ct" type="xs:int" />
      <xs:element minOccurs="0" name="codigo_m" type="xs:int" />
      <xs:element minOccurs="0" name="codigo_p" type="xs:int" />
      <xs:element minOccurs="0" name="fecha_fin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_ini" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Monitoreo" nillable="true" type="tns:Monitoreo" />
  <xs:complexType name="ArrayOfMonitoreo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Monitoreo" nillable="true" type="tns:Monitoreo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMonitoreo" nillable="true" type="tns:ArrayOfMonitoreo" />
</xs:schema>