NiIdea_Proyecto/NiIdea/NiIdeaService/Service References/MonitoreoWS/MonitoreoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:46114/MonitoreoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NiIdeaService.Dominio" />
  <xs:element name="CreaMonitoreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fecha_ini" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fecha_fin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="cantidad_so2" type="xs:int" />
        <xs:element minOccurs="0" name="cantidad_no2" type="xs:int" />
        <xs:element minOccurs="0" name="cantidad_co2" type="xs:int" />
        <xs:element minOccurs="0" name="codigo_ct" type="xs:int" />
        <xs:element minOccurs="0" name="codigo_p" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreaMonitoreoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NiIdeaService.Dominio" minOccurs="0" name="CreaMonitoreoResult" nillable="true" type="q1:Monitoreo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneMonitoreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo_m" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneMonitoreoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NiIdeaService.Dominio" minOccurs="0" name="ObtieneMonitoreoResult" nillable="true" type="q2:Monitoreo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificaMonitoreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo_m" type="xs:int" />
        <xs:element minOccurs="0" name="fecha_ini" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fecha_fin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="cantidad_so2" type="xs:int" />
        <xs:element minOccurs="0" name="cantidad_no2" type="xs:int" />
        <xs:element minOccurs="0" name="cantidad_co2" type="xs:int" />
        <xs:element minOccurs="0" name="codigo_ct" type="xs:int" />
        <xs:element minOccurs="0" name="codigo_p" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificaMonitoreoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NiIdeaService.Dominio" minOccurs="0" name="ModificaMonitoreoResult" nillable="true" type="q3:Monitoreo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarMonitoreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo_m" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarMonitoreoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMonitoreo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMonitoreoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NiIdeaService.Dominio" minOccurs="0" name="ListarMonitoreoResult" nillable="true" type="q4:ArrayOfMonitoreo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>